body{
    background-color:#26453a ;
    position: absolute;
    width: 1200px; 
    height: 1970px;
    padding: 0;
    margin:0;
    max-width: 100%;
    margin:auto
}
#navbar{
    background-color: #13281f;
    position: fixed;
    height: 130px; 
    width: 1240px;
    border:1mm #c5b02b solid;
    z-index: 14;
    transition: top 1s;
    display: block;
    top: 0px;
    opacity: 0.95;
    left: 10px;
    border-radius: 20px;
    max-width: 100%;
    

}
#div1{
    background-color: #26453a;
    display: inline-block;
    position: absolute;
    height: 90px;
    width: 200px;
    top: 19px;
    left: 18px;
    outline:0.5mm #a18f1f solid;
    text-align: inherit;
    max-width: 100%;
}
#div2{
    background-color: #26453a;
    display: inline-block;
    position: absolute;
    height: 90px;
    width: 200px;
    top: 0px;
    left: 210px;
    outline:0.5mm #a18f1f solid;
    text-align: start;
    z-index: 15;
    max-width: 100%;
}
#div3{background-color: #26453a;
    display: inline-block;
    position: absolute;
    height: 90px;
    width: 200px;
    top: 0x;
    left: 210px;
    outline:0.5mm #a18f1f solid;
}
 #div4{
    background-color: #26453a;
    display: inline-block;
    position: absolute;
    height: 90px;
    width: 200px;
    top: 0x;
    left: 210px;
    outline:0.5mm #a18f1f solid;

}
#div5{background-color: #26453a;
    display: inline-block;
    position: absolute;
    height: 90px;
    width: 180px;
    top: 0x;
    left: 210px;
    outline:0.5mm #a18f1f solid;
}
#div6{background-color: #26453a;
    display: inline-block;
    position: absolute;
    height: 90px;
    width: 180px;
    top: 0x;
    left: 190px;
    outline:0.5mm #a18f1f solid;
}
#page-wrap {
    width: 800px;
    margin: 0 auto;
}
#div-content1{
    position: absolute;
    display: block;
    bottom: 1mm;
    left: 2mm;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 15;
    font-weight: 800;
}
#homepic{
    position: absolute;
    top: 160px;
    left: 70px;
    border: 2mm #c5b02b solid;
    position: 50%;
    left: 30px;
    border-radius: 20px;

    
}
.img1{
    display: inline-block;
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: -70%;
    left: -840px;
}
#Logodashboard-site{
    position: absolute;
    bottom: -4px;
    left: 103px;

}
#Logoteam-site{
    position: absolute;
    bottom: 10px;
    z-index: 0;
    left:94px;
    bottom: 1px;
}
#Logo-portofolio{
        position: absolute;
        z-index: 0;
        bottom: 0px;
        left:100px

}
#Logo-werkwijze{
    position: absolute;
        z-index: 0;
        bottom: 0px;
        left:110px
}
#Logo-recensie{
        position: absolute;
        z-index: 0;
        bottom: 0px;
        left:100px;
        opacity: 1;
}
#Logo-contact{
    position: absolute;
    z-index: 0;
    bottom: 3px;
    left:85px;
    opacity: 1;
}
#logo-only-pie{
    position: absolute;
    z-index: 20;
    top:40px ;
    right:445px ;
}

a:link {
    color: #c5b02b ;
    text-decoration: none;
    font-size: 18px;
    z-index: 14;
    opacity: 1;
}
a:visited {
    color: #c5b02b ;
    text-decoration: none;
    z-index: 2;
    font-size: 18px;
}
h1{
    background-color:#13281f;
    position: relative;
    height: 40px; 
    width: 1200px;
    margin-bottom: 4mm;
    border: 2mm #c5b02b solid;
    z-index: 1;
    top:20cm;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;

}
#Titlebody1{
    position: relative;
    display:inline-block; 
    height: 60px;
    width: 1200px;
    background-color: #13281f;
    margin-top: 0px;
    left: 30.5px;
    border: 2mm #c5b02b solid;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    color:  #c5b02b;
    font-size: 21.8px;
    font-weight: normal;
    text-align: center;
    transition: top 2s;
    top:1240px;
    z-index: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 2px;
    border-radius: 20px;
}
.bigger-better{
    font-weight: 800;
}

#hidebody1{ 
    position: relative;
    display: block;
    height: 500px;
    width: 1230px;
    background-color: #26453a;
    margin-top: 0px;
    left: 20px;
    z-index: 1;
    top:700px
}
#div7 img{
    position:absolute;
    left:30px;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
  }
  
 @keyframes cf3FadeInOut {
    0% {
    opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
  }


#div7 img.top {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
  }

#divbody2{
    position: relative;
    display: block;
    height: 300px;
    width: 1200px;
    background-color: #13281f;
    margin-top:0px;
    left: 10.5px;
    border: 2mm #c5b02b solid;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color:  #c5b02b;
    font-size: 20px;
    text-align: left;
    top: -104px;
    z-index: 3;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
}
#divbody2text{
    display: inline-block;
    position: absolute;
    width: 700px;
    left: 7px;
    top: -10px;
}
#divbody2 img{
    position:absolute;
    right:4px;
    bottom: 0px;
}
.goodquestion{
    font-size: 20px;
}

#divbody3{
    position: absolute;
    display: block;
    height: 400px;
    width: 1200px;
    background-color: #13281f;
    margin-top: 0px;
    left: 10px;
    border: 2mm #c5b02b solid;
    font-family: Arial, Helvetica, sans-serif;
    color:  #c5b02b;
    font-size: 18px;
    text-align: left;
    transition: top 2s;
    top: 260px;
    z-index: 20;
    border-radius: 20px;
}
#divbody4{
    position: absolute;
    display: block;
    height: 300px;
    width: 1200px;
    background-color: #13281f;
    margin-top: 0px;
    left: 10px;
    border: 2mm #c5b02b solid;
    font-family: Arial, Helvetica, sans-serif;
    color:  #c5b02b;
    font-size: 18px;
    text-align: left;
    transition: top 2s;
    bottom: 120px;
    left:30px;
    z-index: 20;
    border-radius: 20px;
}
#divbody3text{
    display: inline-block;
    position: absolute;
    width: 700px;
    left: 20px;
    top: 0px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif ;
}
#hidebody{
    position: relative;
    display: block;
    height: 170px;
    width: 1273px;
    background-color: #13281f;
    margin-top: 0px;
    left: -30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    transition: top 2s;
    bottom: -800px;
    z-index: 0;
    border-top: 2mm solid #c5b02b
}
#contacttext{   
    position: absolute; 
    font-size: 18px;
    color: #c5b02b;
    text-align: left;
    left: 30px;
    font-family: sans-serif;
    bottom:0px;
}
#contacttext2{   
    position: absolute; 
    font-size: 18px;
    color: #c5b02b;
    text-align: left;
    left: 370px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom:0px;
}
#GuysittingatAcomputer {
    position: relative;
    bottom: 0px;
    left: 600px;
} 
#bottom-logo{
    position: absolute;
    right:100px;
    bottom:10px;
    z-index: 30;
}
.contact{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.wijzijnpi{
    font-size: 25px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif ;
}
#button{
    position: relative;
    bottom: -20;
    right: 0px;
}
.overlay{
    transition:all 4.s ease-in;
    width: 400px;
    height: 400px;
  }
.parent:hover .overlay{
     opacity:0.3;
  }
#intropi{
    position: absolute;
    display: block;
    width: 100vw;
    height: 48vw;
  }
#intropic{
    position: fixed;
    height: 130px; 
    width: 0px;
    z-index: 14;
    transition: top 3.5s;
    display: block;
    top: 0px;
    opacity: 1;
    left: 0px;
    border-radius: 20px;
    z-index: 40;
  }
#divbod4img{
    position: absolute;
    bottom: 0;
    right:10px;
}
#divbody4text{
    left: 15px;
    display: inline;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.textdiv4{
    font-size: 20px;
}
