html{
    height: 100%;
}
body{   
    background: rgb(19,40,31);
    background: linear-gradient(#8bbae9,#ffff);
    position: absolute;
    width: 1300px; 
    height: 1700px;
    padding: 0;
    margin:0;
    max-width: 100%;
    margin:auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#navbar{
    background-color: #021c42;
    position: fixed;
    height: 100px; 
    width: 1100px;
    border:0mm #c5b02b solid;
    z-index: 20;
    transition: top 1s;
    display: block;
    top: 0px;
    opacity: 0.86;
    left: 70px;
    border-radius: 40px;
    max-width: 100%;
}
.divcolor{
    background-color:#021c42;
}
a {
    position: relative;
    display:inline;
    height: 90px;
    width: 160px;
    z-index: -2;
    margin:0;
    padding:0;
    text-align: left;
    bottom: 0;
}
a:link {
    color: #fff ;
    text-decoration: none;
    font-size: 18px;
    z-index: 14;
    opacity: 1;
    position: absolute;
    display: inline-block;
    bottom: 0px;
}
a:visited {
    color: #ffff ;
    text-decoration: none;
    z-index: 14;
    font-size: 18px;
    position: absolute;
    display: inline-block;
    bottom: 0px;
}
#linkfixer{
    position: relative;
    display: inline;
    bottom: -70px;
    z-index:20;
    font-size:19;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    left: 0px;

}
#div1{
    display: inline-block;
    position: absolute;
    height: 90px;
    width: 160px;
    bottom: 5px;
    left: 50px;
    text-align: center;
    max-width: 100%;
}
#div2{
    display: inline-block;
    position: absolute;
    height: 90px;
    width: 160px;
    bottom: 5px;
    left: 220px;
    text-align: center;
    z-index: 15;
    max-width: 100%;
}
#div3{
    display: inline-block;
    position: absolute;
    height: 90px;
    width: 160px;
    bottom: 5px;
    left: 390px;
    text-align: center;
    
}
 #div4{
    display: inline-block;
    position: absolute;
    height: 90px;
    width: 160px;
    bottom: 5px;
    left: 560px;
    text-align: center;

}
#div5{
    display: inline-block;
    position: absolute;
    height: 90px;
    width: 160px;
    bottom:5px;
    left:730px;
    text-align: center;
}
#div6{
    display: inline-block;
    position: absolute;
    height: 90px;
    width: 160px;
    bottom: 5px;
    left: 900px;
    text-align: center;
}
#page-wrap {
    width: 800px;
    margin: 0 auto;
}
#homepic{
    position: absolute;
    border: 0mm #c5b02b solid;
    border-radius: 20px;

}
#homepic2{
    position: relative;
    border: 0mm #c5b02b solid;
    border-radius: 20px;

}
.img1{
    display: inline-block;
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: -70%;
    left: 840px;
}
#Logodashboard-site{
    position: absolute;
    bottom: 22px;
    left:45px;

}
#Logoteam-site{
    position: absolute;
    bottom: 30px;
    z-index: 0;
    left:30px;
    bottom: 25px;
}
#Logo-portofolio{
        position: absolute;
        z-index: 0;
        left:43px;
        bottom: 25px;

}
#Logo-werkwijze{
    position: absolute;
        z-index: 0;
        left:43px;
        bottom: 25px;
}
#Logo-recensie{
        position: absolute;
        z-index: 0;
        left:47px;
        bottom: 23px;
        opacity: 1;
}
#Logo-contact{
    position: absolute;
    z-index: 0;
    left:52px;
    bottom: 27px;
    opacity: 1;
}

h1{
    background-color:#8bbae9;
    position: relative;
    height: 40px; 
    width: 740px;
    margin-bottom: 4mm;
    border: 1mm #eef2f3 solid;
    z-index: 1;
    top:20cm;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;

}
#Titlebody1{
    position: relative;
    display:inline-block; 
    height: 60px;
    width: 875px;
    background-color: #8bbae9;
    margin-top: 0px;
    left:200px;
    border: 0mm #c5b02b solid;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    color:  #000000;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    transition: top 1s;
    top:320px;
    z-index: 9;
    text-align: center;
    vertical-align: middle;
    line-height: 1px;
    border-radius: 20px;
}
.bigger-better{
    font-weight: 800;
}
#div7{
    transition: top 8s;
    top: 400px;
    border-radius: 20px;
    border: 0mm #c5b02b solid;
}

#div7 img{
    position: relative;;
    left:200px;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out, top 1s;
    top: 300px;
    border-radius: 20px;
    border: 0mm #c5b02b solid;
}    
 @keyframes cf3FadeInOut {
    0% {
    opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
  }


#div7 img.top {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
  display: inline-block;
  position: absolute;
  }

#divbody2{
    position: absolute;
    display: block;
    height: 247px;
    width: 855px;
    background-color: #8bbae9;
    margin-top:0px;
    left: 200px;
    border: 0mm #c5b02b solid;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color:  #000000;
    font-size: 16px;
    text-align: left;
    top: 650px;
    z-index: 10;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    transition: top 1s;
}
#divbody2text{
    display: inline-block;
    position: absolute;
    width: 480px;
    left: 12px;
    top: 0;
    z-index: 0;
}
#divbody2 img{
    position:absolute;
    right:4px;
    bottom: 0px;
}
.goodquestion{
    font-size: 17px;
}

#divbody3{
    position: absolute;
    display: block;
    height: 300px;
    width: 880px;
    background-color:#8bbae9;
    margin-top: 0px;
    left: 200px;
    border: 0mm #c5b02b solid;
    font-family: Arial, Helvetica, sans-serif;
    color:  #000000;
    font-size: 16px;
    text-align: left;
    transition: top 2s;
    top: 785px;
    z-index: 10;
    border-radius: 20px;
}
#divbody4{
    position: absolute;
    display: block;
    height: 340px;
    width: 880px;
    background-color:#8bbae9;
    margin-top: 0px;
    left: 50px;
    border: 0mm #c5b02b solid;
    font-family: Arial, Helvetica, sans-serif;
    color:  050607;
    font-size: 16px;
    text-align: left;
    transition: top 2s;
    bottom: 230px;
    left:200px;
    z-index: 10;
    border-radius: 20px;
}
#divbody3text{
    display: inline-block;
    position: absolute;
    width: 600px;
    left: 20px;
    top: 0px;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif ;
}
#hidebody{
    position: absolute;
    display: block;
    height: 140px;
    width: 1263px;
    background-color:#003156 ;
    margin-top: 0px;
    left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    transition: top 2s;
    bottom:-20px;
    z-index: 0;
    border-top: 0mm solid #c5b02b
}
#contacttext{   
    position: absolute; 
    font-size: 17px;
    color: #ffff;
    text-align: left;
    left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    bottom:0px;
    font-weight: 800;
}
#contacttext2{   
    position: absolute; 
    display: inline;
    font-size: 17px;
    color: #ffff;
    text-align: left;
    left: 430px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom:0px;
}
#GuysittingatAcomputer {
    position: absolute;
    bottom: 0px;
    left: 610px;
} 
#bottom-logo{
    position: absolute;
    right:100px;
    bottom:10px;
    z-index: 30;
}
.contact{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}
.wijzijnpi{
    font-size: 16px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif ;
}
#button{
    position: relative;
    bottom: -20;
    right: 0px;
}
.overlay{
    transition:all 4.s ease-in;
    width: 400px;
    height: 400px;
  }
.parent:hover .overlay{
     opacity:0.3;
  }
#intropi{
    position: absolute;
    display: block;
    width: 60vw;
    height: 48vw;
  }
#intropic{
    position: fixed;
    height: 130px; 
    width: 0px;
    z-index: 40;
    transition: opacity 2s, z-index 4s;
    display: block;
    top: 0px;
    opacity: 1;
    left: 0px;
    border-radius: 20px;
    z-index: 40;
  }
#divbod4img{
    position: absolute;
    bottom: 0;
    right:0px;
}
#divbody4text{
    left: 15px;
    display: inline;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    width: 600px;
}
.textdiv4{
    font-size: 16px;
    width: 400px;
}

.center{
    margin:auto;
    width: 60%;
    padding: 10px;

}