body{
    background-color:#26453a ;
    position: absolute;
    width: 1200px; 
    height: 1970px;
    padding: 0;
    margin:0;
    max-width: 100%;
    margin:auto
}
#navbar{
    background-color: #13281f;
    position: fixed;
    height: 130px; 
    width: 1240px;
    border:1mm #c5b02b solid;
    z-index: 14;
    transition: top 1s;
    display: block;
    top: 0px;
    opacity: 0.95;
    left: 10px;
    border-radius: 20px;
    max-width: 100%;
}
a {
    position: relative;
    display:block;
    height: 90px;
    width: 200px;
    z-index: -2;
    margin:0;
    padding:0;
    text-align: left;
    ;bottom: 0;
}
a:link {
    color: #c5b02b ;
    text-decoration: none;
    font-size: 18px;
    z-index: 14;
    opacity: 1;
    position: absolute;
    display: inline-block;
    bottom: 0px;
}
a:visited {
    color: #c5b02b ;
    text-decoration: none;
    z-index: 14;
    font-size: 18px;
    position: absolute;
    display: inline-block;
    bottom: 0px;
}
#linkfixer{
    position: relative;
    display: inline;
    bottom: -70px;
    z-index:20;
    font-size:18;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    left: 5px;

}
#div1{
    background-color: #26453a;
    display: inline-block;
    position: absolute;
    height: 90px;
    width: 200px;
    bottom: 20px;
    left: 10px;
    outline:0.5mm #a18f1f solid;
    text-align: inherit;
    max-width: 100%;
}
#div2{
    background-color: #26453a;
    display: inline-block;
    position: absolute;
    height: 90px;
    width: 200px;
    bottom: 20px;
    left: 221px;
    outline:0.5mm #a18f1f solid;
    text-align: start;
    z-index: 15;
    max-width: 100%;
}
#div3{background-color: #26453a;
    display: inline-block;
    position: absolute;
    height: 90px;
    width: 200px;
    bottom: 20px;
    left: 433px;
    outline:0.5mm #a18f1f solid;
}
 #div4{
    background-color: #26453a;
    display: inline-block;
    position: absolute;
    height: 90px;
    width: 200px;
    bottom: 20px;
    left: 646px;
    outline:0.5mm #a18f1f solid;

}
#div5{background-color: #26453a;
    display: inline-block;
    position: absolute;
    height: 90px;
    width: 180px;
    bottom:20px;
    left: 859px;
    outline:0.5mm #a18f1f solid;
}
#div6{background-color: #26453a;
    display: inline-block;
    position: absolute;
    height: 90px;
    width: 180px;
    bottom: 20px;
    left: 1051px;
    outline:0.5mm #a18f1f solid;
}
#page-wrap {
    width: 800px;
    margin: 0 auto;
}
#div-content1{
    position: absolute;
    display: block;
    bottom: 0px;
    left: 2mm;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 15;
    font-weight: 800;
    z-index: 20;
}
#homepic{
    position: absolute;
    top: 160px;
    left: 70px;
    border: 2mm #c5b02b solid;
    position: 50%;
    left: 30px;
    border-radius: 20px;

    
}
.img1{
    display: inline-block;
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: -70%;
    left: -840px;
}
#Logodashboard-site{
    position: absolute;
    bottom: 0px;
    left: 113px;

}
#Logoteam-site{
    position: absolute;
    bottom: 30px;
    z-index: 0;
    left:100px;
    bottom: 1px;
}
#Logo-portofolio{
        position: absolute;
        z-index: 0;
        bottom: 2px;
        left:104px

}
#Logo-werkwijze{
    position: absolute;
        z-index: 0;
        bottom: 0px;
        left:110px
}
#Logo-recensie{
        position: absolute;
        z-index: 0;
        bottom: 0px;
        left:100px;
        opacity: 1;
}
#Logo-contact{
    position: absolute;
    z-index: 0;
    bottom: 3px;
    left:100px;
    opacity: 1;
}
#logo-only-pie{
    position: absolute;
    z-index: 20;
    top:40px ;
    right:445px ;
}